about{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
}
h1{
    color: rgb(197, 3, 3);
    padding-top: 2em;
    font-size: 18pt;
}
h3{
    color: rgb(197, 3, 3);
    padding-top: 0.5em;
}
p{
    line-height: 1.5em;
    text-align: justify;
}